//gorny wiersz stopki
.sk-footer-top {
  position: relative;
  padding: 80px 0 20px;
  background: url("../images/bg/footer-bg.jpg") 50% 50% no-repeat;
  background-size: cover;
  &:after {
    @include sk-bg-overlay($sk-black, .75)
  }
}

.sk-footer-top-content {
  @include sk-relative-zindex;
}