@mixin sk-services-item-active {
  background-color: grey;
  a {
    color: $sk-white;
    text-decoration: none;
  }
  img {
    filter: brightness(3);
  }
}

.sk-services-group {
  height: 100px;
  background: url("../images/bg/witamy-tlo.jpg") 50% 50% no-repeat;
  @include media-breakpoint-up(lg){
    margin-right: -30px;
  }
}

//podstawowe przejście
@mixin sk-basic-transition {
  transition: all .25s ease-in-out;
}

.sk-services-item {
  padding: 1rem 1rem 0;
  text-align: center;
  @include sk-size(25%, 100%);
  pointer-events: none;
  &:hover {
    @include sk-services-item-active;
    @include sk-basic-transition;
  }
  a {
    pointer-events: auto;
  }
}

.sk-services-item-title {
  margin-top: .25rem;
  font-size: .6875rem;
}

.sk-services-item-active {
  @include sk-services-item-active;
}
